.mine {
    text-align: left;
    margin-bottom: 10px;
    background-color: #40C4FF!important;
}
.others {
    text-align: right;
    margin-bottom: 10px;
    background-color: #CDDC39!important;
}
div p {
    margin: 1px;
}